* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: initial;
    background-color: initial;
    color: inherit;
    font: inherit;
}

/* KEYFRAMES */
@keyframes fade-in-from-top {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-in-from-left {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-from-right {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes make-smaller {
    0% {
        height: 100%;
        width: 100%;
    }

    100% {
        height: 75%;
        width: 78;
    }
}

.app {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: white;
    height: 100vh;
    width: 100vw;
}

.app__container {
    height: calc(100vh - 55px);
    display: flex;
}

.header {
    background-image: linear-gradient(to right, #18A0be, #622DB9);
    height: 55px;
    display: flex;
    justify-content: space-between;
}

.logo {
    align-self: center;
    margin-left: 20px;
    margin-right: 30px;
    animation: fade-in-from-top 0.5s;
}

.dd-toggle:nth-of-type(4) {
    margin-left: auto;
}

.dd-toggle {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 13px;
    cursor: pointer;
    transition: all 0.4s;
    animation: fade-in-from-top 0.5s;
}

.dd-toggle:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.07);
}


.dd-toggle:last-child {
    display: flex;
    align-items: center;
}

.dd-toggle__image {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 7px;
}

/*----------------------------------------- */
.sidebar {
    background-color: #10171A;
    width: 75px;
    display: flex;
    flex-direction: column;
}

.menu__button {
    padding: 19px 0;
    color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.4s;
    animation: fade-in-from-top 0.5s;

}

.menu__button--active {
    background-color: #2B363B;
    color: #fff;
    position: relative;
}

.menu__button--active::before {
    content: '';
    width: 3px;
    height: 100%;
    background-color: #622DB9;
    position: absolute;
    left: 0;
    top: 0;
}

.menu__button:hover {
    background-color: #2B363B;
    color: white;
    cursor: pointer;
}

.menu__button:focus {
    background-color: #2B363B;
    color: white;
    cursor: pointer;
}

.menu__icon {
    font-size: 18px;
    margin-bottom: 3px;
}

.menu__text {
    font-weight: 500;
    font-size: 12px;
}

.copyright {
    color: rgba(255, 255, 255, 0.15);
    font-size: 12px;
    white-space: nowrap;
}

.footer {
    margin-top: auto;
    margin-bottom: 60px;
    transform: rotate(-90deg);
}

/*----------------------------------------- */
.panel {
    background-color: #2B363C;
    width: 350px;
    padding: 15px 31px;
}

/*----------------------------------------- */

/*Panelll*/
.panel__top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #4b5155;
    padding-bottom: 12px;
}

.first-heading {
    font-size: 18px;
    font-weight: 400;
}

.panel__collapse-icon {
    color: #6b7276;
    cursor: pointer;
    margin-left: auto;
}

.panel__images {
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    animation: fade-in 1s;
}

.panel__images:nth-child(2) {
    animation: fade-in 1s 0.1s backwards;
}

.panel__images:nth-child(3) {
    animation: fade-in 1s 0.2s backwards;
}

.panel__images:nth-child(4) {
    animation: fade-in 1s 0.3s backwards;
}

.panel__images:nth-child(4) {
    animation: fade-in 1s 0.4s backwards;
}

.panel__images:nth-child(5) {
    animation: fade-in 1s 0.5s backwards;
}

.panel__img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 7px;
    padding: 4px 4px;
    transition: all 0.2s;
    cursor: pointer;
}

.panel__img:hover {
    transform: scale(1.05);
}

.panel__button {
    width: 140px;
    height: 140px;
    border-radius: 7px;
    background-color: #333e44;
    cursor: pointer;
    transition: all 0.2s;
}

.panel__button:hover,
.panel__button:focus {
    background-color: #404c52;
}

.panel__upload_icon {
    font-size: 25px;
    color: 21292d;
}

/* info header*/
.main {
    background-color: #EDF1F3;
    flex: 1;
}

.info-bar {
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #D6DDE1;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcumbs {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 12px;
}

.breadcumbs__link {
    color: #A6ADB1;
    text-decoration: none;
}

.breadcumbs__icon {
    color: #A6ADB1;
    margin: 0 13px;
}

.breadcumbs__name {
    color: #2E3335;
    font-weight: 500;
}

.button {
    background-color: blue;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 500px;
    transition: all 0.5s;
}

.button:hover {
    background-color: #26438D;
}

.artboard {
    height: calc(100vh - 55px - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    column-gap: 20px;
}

.canvas {
    height: 57.5vh;
    width: 48.6vw;
    position: relative;
    border: 1px solid #fff;
    border-radius: 3px;
}

.canvas__bg-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.15;
}

.canvas__fg-img {
    height: 75%;
    border-radius: 3px;
    width: 78%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    cursor: grab;
    animation: make-smaller 1s 0.2s;
}

.canvas_circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
}

.canvas_circle:nth-of-type(1) {
    top: 11.5%;
    left: 10.4%;
    cursor: nw-resize;
}

.canvas_circle:nth-of-type(2) {
    top: 11.5%;
    right: 10.4%;
    cursor: sw-resize;
}

.canvas_circle:nth-of-type(3) {
    bottom: 11.5%;
    left: 10.4%;
    cursor: nw-resize;
}

.canvas_circle:nth-of-type(4) {
    bottom: 11.5%;
    right: 10.4%;
    cursor: sw-resize;
}

.tools {
    height: 57.5vh;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    animation: fade-in-from-right 0.5s;
}

.tool {
    background-color: #E1E6E9;
    height: 44px;
    width: 44px;
    color: #404446;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    transition: all 0.4s;
}

.tool:hover,
.tool:focus {
    background-color: #2B363b;
    color: #fff;
}

.tool:last-child {
    margin-top: auto;
}

.tool--active {
    background-color: #2B363b;
    color: #fff;
}

/* Media Queries */
@media (max-width: 1200px) {
    .panel {
        display: none;
    }

    .canvas {
        width: 67vw;
    }
}

@media (max-width: 1000px) {
    .app__container {
        height: initial;
        min-height: 100vh;
    }

    .sidebar {
        display: none;
    }

    .infobar {
        padding: 0 20px;
    }

    .canvas {
        width: 100%;
        height: 500px;
    }

    .tools {
        height: 500px;
    }

    .artboard {
        padding: 50px 20px;
        margin-top: 0px;
        height: initial;
    }
}

@media (max-width: 580px) {

    .dd-toggle:nth-of-type(1),
    .dd-toggle:nth-of-type(2),
    .dd-toggle:nth-of-type(3) {
        display: none;
    }

    .artboard {
        flex-direction: column;
        order: 2;
    }

    .tools {
        flex-direction: row;
        column-gap: 5px;
        order: 1;
        height: initial;
        margin-bottom: 15px;
    }

    .tool:last-child {
        margin: 0;
    }
}